
@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>


@{
    string userid = "";
    if (Session["UserID"] != null)
    {
        userid = Session["UserID"].ToString();
        ViewBag.UserID = userid;
    }

}
<h2>
    @ViewBag.UserID
</h2>